<header class="main-header">
    <h1>Gestión de Clientes</h1>
    <button class="upload-btn">Añadir Cliente</button>
    <link rel="stylesheet" href="../css/clientes.css">
</header>

<section class="content-section">
    <p style="margin-bottom: 20px; color: var(--normal-text);">
        Lista de clientes registrados:
    </p>

    <div class="client-list">
        <div class="client-card">
            <p><strong>Juan Pérez</strong></p>
            <p class="tag">Visita reciente: 10/02/2025</p>
        </div>

        <div class="client-card">
            <p><strong>Ana Gómez</strong></p>
            <p class="tag">Visita reciente: 03/02/2025</p>
        </div>

        <div class="client-card">
            <p><strong>Carlos Ruiz</strong></p>
            <p class="tag">Visita reciente: 20/01/2025</p>
        </div>
    </div>
</section>
