<header>
    <title>configuracion</title>
    <h1>Configuración</h1>
    <link rel="stylesheet" href="../css/configuracion.css">
</header>

<body>
    <div class="container">
        <div class="setting-group">
            <details class="collapsible-card">
                <summary class="collapsible-header">
                    Perfil del Salón
                    <span class="dropdown-icon"></span>
                </summary>
                <div class="collapsible-content">
                    <p>Hola</p>
                </div>
            </details>
        </div>

        <div class="setting-group">
            <details class="collapsible-card">
                <summary class="collapsible-header">
                    Trabajadores
                    <span class="dropdown-icon"></span>
                </summary>
                <div class="collapsible-content">
                    <p>Configura los días y horas de apertura y cierre.</p>
                    <p><em>Lunes a Viernes: 9:00 - 18:00</em></p>
                </div>
            </details>
        </div>

        <div class="setting-group">
            <details class="collapsible-card">
                <summary class="collapsible-header">
                    Horario General del Salón
                    <span class="dropdown-icon"></span>
                </summary>
                <div class="collapsible-content">
                    <p>Configura los días y horas de apertura y cierre.</p>
                    <p><em>Lunes a Viernes: 9:00 - 18:00</em></p>
                </div>
            </details>
        </div>

        <div class="setting-group">
            <details class="collapsible-card">
                <summary class="collapsible-header">
                    Ajustes de Aplicacion
                    <span class="dropdown-icon"></span>
                </summary>
                <div class="collapsible-content">
                    <p>Configura los días y horas de apertura y cierre.</p>
                    <p><em>Lunes a Viernes: 9:00 - 18:00</em></p>
                </div>
            </details>
        </div>

        <div class="setting-group">
            <details class="collapsible-card">
                <summary class="collapsible-header">
                    Gestión de Cuenta
                    <span class="dropdown-icon"></span>
                </summary>
                <div class="collapsible-content">
                    <p>Configura los días y horas de apertura y cierre.</p>
                    <p><em>Lunes a Viernes: 9:00 - 18:00</em></p>
                </div>
            </details>
        </div>

    </div>
</body>