<header class="main-header">
    <h1>Galeria De Cortes</h1>
    <button class="upload-btn">Añadir Corte</button>
    <link rel="stylesheet" href="../css/galeria.css">
</header>
<section class="gallery-grid">
            <div class="cut-card">
                <img src="" alt="Corte Moderno">
                <div class="card-info">
                    <p class="cut-name">Corte Moderno</p>
                    <p class="cut-tags">#degradado #hombres #estilo</p>
                </div>
            </div>

            <div class="cut-card">
                <img src="" alt="Corte Bob">
                <div class="card-info">
                    <p class="cut-name">Corte Bob</p>
                    <p class="cut-tags">#bob #mujer #elegante</p>
                </div>
            </div>

            <div class="cut-card">
                <img src="" alt="Color Fantasía">
                <div class="card-info">
                    <p class="cut-name">Color Fantasía</p>
                    <p class="cut-tags">#colorido #atrevido #fantasia</p>
                </div>
            </div>
</section>

